@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs-boxed :is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked) {
    --tw-bg-opacity: 1;
    background-color: rgb(239, 68, 68);
    --tw-text-opacity: 1;
    color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
}

.btn-white {
    background-color: white;
    color: oklch(var(--b1));
    border-color: #a5a5a5;
}

.btn-white:hover {
    background-color: rgb(255, 193, 193);
    color: oklch(var(--b1));
    border-color: #a5a5a5;
}